

/* #region 主体设置 */


:root{
    --fc:#2B2B2B;
    --light-green:#F0F3F0;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微软雅黑", serif;
    font-style: normal;
}


::-webkit-scrollbar{
    /* width: 11px;
    background-color: #fff; */
    display: none;
}

/* ::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: var(--bgc);
    border-radius: 2em;
} */

body{
    width: 100%;
}
/* #endregion */


/* ====== About Us ======*/
/* #region */
.about_us{
    width: 100%;
    height: auto;
}

.about_us .pic{
    width: 100%;
    height: 60vh;
    position: relative;
}

.pic img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.about_us .pic::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.about_us .about_us_text{
    width: 100%;
    height: auto;
    padding: 0 45px;
}

.about_us_text .title{
    padding-top: 45px;
}

.about_us_text .content{
    display: flex;
    width: 100%;
    height: 100%;
}

.content .about_us_left, .content .about_us_right{
    height: auto;
}

.about_us_left{
    width: 60%;
}

.about_us_left .fac_pic, .fac_pic img{
    width: 100%;
    height: 60vh;
}

.about_us_right{
    width: 30%;
    display: flex;
    align-items: center;
}

.about_us_right p{
    font-size: 25px;
    line-height: calc(25px * 1.414);
    padding: calc(25px * 1.414 / 2) 0;
}

.history_btns{
    position: relative;
}

.history_btns .history_left_btn, .history_btns .history_right_btn{
    position: absolute;
    cursor: pointer;
}

.history_btns .history_left_btn{
    left: 0;
}

.history_btns .history_right_btn{
    right: 0;
}

.history_left_btn .lf, .history_right_btn .rt{
    font-size: 40px;
}

/* #endregion */




/* ================== Timeline ============================== */
/* #region */

.history{
    background-color: var(--light-green);
    padding: 60px 0;
}

.title{
    font-size: 40px;
}

.history_event{
    position: relative;
    overflow: hidden;
    transition: 1s ease;
}

.history_event::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    background-color: #81B4A9;
    left: 0;
    top: 50%;
    margin-top: -1px;
}

/* .history_control{
    position: absolute;
    width: 1600px;
} */

.container_history{
    padding: 0 45px;
}

.container_history::before{
    display: table;
    content: " ";
    box-sizing: border-box;
}

.history_timeline{
    box-sizing: border-box;
    position: relative;
}

.timeline_container{
    list-style: none;
}


.timeline_years{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
}

.years{
    margin-right: 10px;
    width: 40px;
    height: 100%;
    padding: 390px 0;
    position: relative;
}

.timeline_content{
    box-sizing: border-box;
}

.icon{
    position: relative;
    width: 40px;
    height: 40px;
    background-color:#A5C6AD;
    border-radius: 50%;
    overflow: hidden;
}

.icon:hover .timeline_info{
    display: block;
}

/* .icon::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.icon i{
    color: var(--light-green);
    width: 100%;
    height: 100%;
    z-index: 9;
    font-size: 22px;
}

.icon i::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timeline_info{
    position: absolute;
    left: 0;
    box-sizing: border-box;
    display: block;
}

.line{
    position: relative;
    margin: 14px 0;
    box-sizing: border-box;
}

.dottedLine{
    height: 240px;
    position: relative;
    width: 40px;
    margin: 14px 0;
    box-sizing: border-box;
}

.dottedLine::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-left: 1px dashed #000;
    left: 50%;
    top: 0;
    margin-left: -1px;
    box-sizing: border-box;
}

.circle{
    bottom: 0;
    position: absolute;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: var(--bgc);
    box-sizing: border-box;
    transform: translate(15px, 15px);
}

/* .circle::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
} */

.text{
    margin-left: 20px;
    width: 200px;
}

.year{
    font-size: 24px;
}

.txt{
    font-size: 14px;
}

.y1997 .timeline_info .dottedLine{
    height: 150px;
}

.years_deactive{
    opacity: 0;
}

    /* =========== top years: 1999 2005 2010 2016====================*/
/* #region */
.y1999 .timeline_content .timeline_info,
.y2005 .timeline_content .timeline_info,
.y2008 .timeline_content .timeline_info,
.y2010 .timeline_content .timeline_info,
.y2016 .timeline_content .timeline_info{
    top: auto;
    bottom:calc(50% + 20px);
}

.y1999 .timeline_content .timeline_info .dottedLine{
    height: 100px;
}
.y2005 .dottedLine{
    height: 130px;
}
.y2008 .dottedLine{
    height: 45px;
}
.y2010 .dottedLine{
    height: 90px;
}
.y2016 .dottedLine{
    height: 130px;
}

.y1999 .line,
.y2005 .line,
.y2008 .line,
.y2010 .line,
.y2016 .line{
    padding-top: 30px;
    padding-bottom: 0;
}

.y1999 .circle,
.y2005 .circle,
.y2008 .circle,
.y2010 .circle,
.y2016 .circle{
    bottom: auto;
    top: 0;
}

.y1999 .text,
.y2005 .text,
.y2008 .text,
.y2010 .text,
.y2016 .text{
    position: absolute;
    bottom: 100%;
}

.y2008 .text{
    width: 80px;
}

/* #endregion */

/* ===================== bottom years: 2002 2007 2009 2012 2020=====================*/
/* #region */
.y2002 .timeline_content .timeline_info .dottedLine{
    height: 200px;
}

.y2009 .dottedLine{
    height: 180px;
}

.y2012 .dottedLine{
    height: 100px;
}
.y2020 .dottedLine{
    height: 150px;
}
.y2023 .dottedLine{
    height: 200px;
}

.y1996 .line,
.y1997 .line,
.y2002 .line,
.y2007 .line,
.y2009 .line,
.y2012 .line,
.y2020 .line,
.y2023 .line{
    padding-bottom: 30px;
    padding-top: auto;
}

.y2012 .text{
    width: 120px;
}
.y2020 .text{
    width: 120px;
}

.y1996 .circle,
.y1997 .circle,
.y2002 .circle,
.y2007 .circle,
.y2009 .circle,
.y2012 .circle,
.y2020 .circle,
.y2023 .circle{
    transform: translate(15px, -15px);
}
/* #endregion */


/* #endregion */

/* ========================================== */