
/* #region 主体设置 */


:root{
    --timeline_hover:#333b2b85;
    --bgc:#627254;
    --sbgc:#DDDDDD;
    --fc:#EEEEEE;
    --hc:#76885B;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", serif;
    font-style: normal;
}


::-webkit-scrollbar{
    /* width: 11px;
    background-color: #fff; */
    display: none;
}

/* ::-webkit-scrollbar-thumb{
    width: 100%;
    background-color: var(--bgc);
    border-radius: 2em;
} */

body{
    width: 100%;
}
/* #endregion */


/* ================ Header ==================== */
/* #region */


/* ====== navigation ====== */
/* #region */
header{
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 99;
    transition: 0.5s ease;
    transition-property: height background;
}

header.sticky{
    height: calc(2.5rem + 1rem);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

header .nav_bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}

.nav_close_btn, .nav_menu_btn{
    display: none !important;
}

.nav_bar .logo{
    height: 100%;
    width: 300px;
}

.logo img{
    height: 100%;

}

.text_logo{
    display: none;
}

.navigation .nav_items a{
    color: var(--fc);
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: black;
    font-weight: 700;
}

.navigation .nav_items a:not(:last-child){
    margin-right: 45px;
}

.home{
    min-height: 100vh;
}

header.color_change{
    background-color: rgba(0, 0, 0, 0.7);
    transition: 1s ease;
}

.bg_slider{
    z-index: 1;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.bg_slider .swiper-slide{
    position: relative;
    width: 100%;
    height: 100vh;

}

.bg_slider .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
    block-size: cover;
    pointer-events: none;
}

.swiper-slide .text_content{
    position: absolute;
    top: 25%;
    color: var(--fc);
    margin: 0 200px;
    transition: 0.3s ease;
}

.swiper-slide .text_content .title{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 20px;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text_content .title{
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text_content .title span{
    font-size: 0.3em;
    font-weight: 300;
}

.swiper-slide .text_content p{
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    transform:translateX(-80px);
    opacity:0
}

.swiper-slide-active .text_content p{
    transform:translateX(0);
    opacity:1;
    transition: 1.5s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text_content .read_btn{
    border: none;
    outline: none;
    background-color: var(--sbgc);
    color: black;
    font-size: 1em;
    font-weight: 700;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(50px);
    opacity: 0;
}

.swiper-slide-active .text_content .read_btn{
    transform: translateX(0px);
    opacity: 1;
    transition: 1.5s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text_content .read_btn i{
    padding-left: 8px;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.swiper-slide .text_content .read_btn:hover i{
    transform: translateX(5px);
}

.dark_layer:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
/* #endregion */

/* ====== thumbs ====== */
/* #region */
.bg_slider_thumbs{
    z-index: 2;
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.thumbs_container{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.thumbs_container img{
    width: 50px;
    height: 35px;
    margin:0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active{
    border: 2px solid var(--fc);
}
/* #endregion */

/* ====== media icon ====== */
/* #region */
.media_icons{
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 0;
    transform:translateX(-50%);
    margin-right: 90px;
}

.media_icons a{
    color: var(--fc);
    font-size: 1.7em;
    margin: 10px 0;
}

/* #endregion */


/* ====== pics ====== */
/* #region */
.pps{
    padding: 0 75px;
    position: relative;
    height: 100vh;
}


.container_pps{
    padding-top: 25px;
    width: 100%;
    height: 80vh;
}

.swiper{
    height: 100%;
}
.pps .swiper-wrapper{
    height: 80%;
}

.pps .swiper-wrapper .swiper-slide {
    width: 376.25px;
    height: 572px;
    background: #fff;  
}

.swiper-slide .product_content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0 , 0, 0, 0.2);
    background-color:var(--bgc);
    cursor: pointer;
}

.product_content .btf_btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.btf_btn i{
    font-size: 25px;
    transition: 1s ease;
    color: rgba(255, 255, 255, 0.5);
    z-index: 10;
}

.btf_btn:hover i{
    color: rgba(255, 255, 255, 1);
}

.pps .detail_expand{
    position: absolute;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
}

.pps .pps_more{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color:rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease;
}

.detail_expand .expand_container{
    position: relative;
    background-color:black;
    margin-top: -50px;
    width: 60%;
    height: 85vh;
}

.expand_container .pps_text{
    height: 10%;
    align-items: center;
    padding: 25px 0px 15px 15px;
}

.pps_text h1{
    color: white;
}

.expand_container .pps_pic{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pps_pic .detail_pic{
    padding-bottom: 15px;
    height: 25%;
}

.detail_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pps_close_btn_container{
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 25px;
}


.product_content:hover img{
    transform: scale(1.05);
}


.product_content .product_pic{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
}

.product_pic::before{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    position: absolute;
    content: "";
    background-color: rgba(0 , 0, 0, 0.5);
    top: 100%;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
}

.product_pic:hover::before{
    top: 0;
    opacity: 1;
}

.product_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.product_content .product_text{
    position: absolute;
    top: 0;
    left: 15px;
}

.product_text p{
    font-size: 50px;
    color: var(--fc);
    z-index: 9;
}

/* ====== btns ====== */

.pps_btns{
    padding-top: 50px;
    height: 20%;
    display: flex;
    position: relative;
    z-index: 9;
}

.swiper-button-next, .swiper-button-prev{
    width: 50px;
    height: 50px;
    background-color: #627254;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50%;
    right: 0;
    cursor: pointer;
}

.swiper-button-next:hover i, .swiper-button-prev:hover i{
    transform: scale(1.3);
}

.swiper-button-next i, .swiper-button-prev i{
    transition: 0.5s ease;
    font-size: 30px !important;
    color: var(--fc);
}

.swiper-button-prev{
    right: 80px;
}

/* #endregion */


/* .swiper {
width: 100%;
height: 300px;
margin: 20px auto;
} */

/* .append-buttons {
text-align: center;
margin-top: 20px;
}

.append-buttons button {
display: inline-block;
cursor: pointer;
border: 1px solid #007aff;
color: #007aff;
text-decoration: none;
padding: 4px 10px;
border-radius: 4px;
margin: 0 10px;
font-size: 13px;
} */

/* ====== about_us ======*/
/* #region */
.about_us{
    width: 100%;
    height: auto;
    padding: 0 50px;
    background-color: white;
}

.sub_title{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 50px 0;
}

.counting_content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 50px 70px;
}

.about_us_content{
    position: relative;
    width: 28%;
    padding-bottom: 50px;
}

.icon_container{
    display: flex;
    justify-content: center;
}

.about_us_content .about_us_icon{
    position: relative;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 2px 7px 15px rgba(0 , 0, 0, 0.2);
}

.about_us_icon i {
    color: var(--bgc);
}

.counter{
    padding: 1em 0;
    font-size: 4em;
    font-weight: 700;
}

.about_us_content p{
    font-size: 25px;
}

.data{
    padding-top: 32px;
    padding-bottom: 5px;
}
.data sub{
    color: black;
    font-weight: 700;
    font-size: 35px;
}


.about_us_text{
    font-size: 1em;
    font-weight: 400;
}

/* #endregion */


/* #region */
/* ====== Footer ====== */

footer{
    background-color: var(--bgc);
    width: 100%;
    height: 30vh;
}

.footer_container{
    padding: 15px 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
}
/* ====== catalog ====== */
.footer_container .catalog{
    width: 20%;
}

.dldlink{
    text-align: center;
}

.dldtxt{
    text-align: center;
}

.dldtxt a{
    width: 100%;
    font-size: 25px;
    text-decoration: none;
    color: var(--fc);
}

/* ====== sitemap ====== */

.footer_container .sitemap{
    height: 100%;
    width: 30%;
    display: flex;
}

.sitemap .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.footer_container .map{
    width: 30%;
}

.content div a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sitemap .title{
    width: 20%;
}


.footer_container .contact{
    height: 100%;
    width: 20%;
}

.contact .title{
    height: 15%;
    width: 100%;
}

.contact .contact_us{
    width: 100%;
    height: 85%;
    padding: 20px 0 0 20px;
}

.contact_us div{
    align-items: center;
}
.contact_us .contact_text{
    display: flex;
    height: 25%;
}
.contact_us .contact_text, .social_link{
    color: var(--fc);
}

.social_link{
    display: flex;
    justify-content: center;
}

.contact_text p{
    font-size: 25px;
}

.social_link a{
    color: var(--fc);
    padding: 0 10px;
    font-size: 25px;
}

.contact_us .emailaddress{
    height: 25%;
}

.emailaddress a, .emailaddress span{
    color: var(--fc);
    font-size: 25px;
}

.contact_us .contact_info{
    height: 50%;
}

.contact_info .phone, .fax{
    height: 50%;
}

.phone p, .fax p{
    color: var(--fc);
    font-size: 25px;
}


.copyright{
    height: 10%;
}
/* #endregion */


/* ====== Media Queries ======*/
/* #region */

/* max-width:1680 */
@media screen and (max-width: 1680px){
    header .nav_bar{
        padding: 0 100px;
    }

    .nav_close_btn, .nav_menu_btn{
        display: none;
    }
}

/* max-width:1525px */
@media screen and (max-width: 1525px){
    header .nav_bar{
        padding: 0 50px;
    }

    .media_icons{
        right: 0;
        margin-right: 50px;
    }
    
    .swiper-slide .text_content{
        margin: 0 120px 0 50px;
    }

    .bg_slider_thumbs{
        bottom: 3em;
    }
    .product_text p {
        font-size: 40px !important;
    }

    .counter{
        padding: 0 !important;
    }
}

/* max-width:1200px */
@media screen and (max-width: 1200px){
    .navigation .nav_items a {
        font-size: 1em;
    }

    .nav_bar .logo img{
        max-height: 100%;
    }

    .pps .swiper-wrapper .swiper-slide {
        height: 572px;
    }

    .product_text p {
        font-size: 30px !important;
    }

    .counter{
        font-size: 3em !important;
    }
}

/* max-width:1050px */
@media screen and (max-width: 1050px){
    header .nav_bar{
        padding: 25px 20px;
    }
    .nav_bar .logo{
        display: none;
    }

    .nav_bar .text_logo{
        display: block;
        color: var(--fc);
        font-size: 2em;
        font-weight: 700;
        text-decoration: none;
        text-shadow: black;
    }

    .media_icons{
        transform: translateY(-50px);
        margin-right: 20px;
    }

    .media_icons a{
        font-size: 1.5em;
    }

    .swiper-slide .text_content{
        margin: 0 70px 0 20px;
    }

    .swiper-slide .text_content .title{
        font-size: 3em;
    }

    .swiper-slide .text_content .title span{
        font-size: 0.35em;
    }

    .swiper-slide .text_content p{
        font-size: 0.9em;
    }

    .nav_menu_btn{
        display: block !important;
        color: var(--fc);
        font-size: 1.5em;
        cursor: pointer;
    }

    .nav_close_btn{
        display: block !important;
        color: var(--bgc);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .navigation{
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .navigation.active .nav_items{
        transform: translateY(0);
    }

    .navigation .nav_items{
        position: relative;
        background-color: var(--fc);
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation .nav_items a{
        color: var(--bgc);
        font-size: 1em;
        margin: 15px 50px;
        transition: 0.5s ease;
    }

    .navigation .nav_items a:hover{
        transform: scale(1.2);
        color: black
    }

    .swiper-slide .text_content .read_btn{
        font-size: 0.9em;
        padding: 5px 15px;
    }

    .counting_content {
        padding: 25px 0 !important;
    }
}

/* max-width: 810px */
@media  screen and (max-width: 810px){
    .about_us_content{
        width: 40% !important;
    }
}

/* max-width: 660px */
@media  screen and (max-width: 660px){

    .swiper-wrapper{
        padding-left: 0;
    }

    .data{
        padding-top: 15px;
    }

    .counter{
        font-size: 2em;
    }

    .data sub{
        font-size: 0.9em;
    }

    .pps .swiper-wrapper .swiper-slide {
        height: 372px;
    }

    .pps_btns{
        display: none;
    }

    .container_pps{
        height: 45vh;
    }
}

/* max-width: 430px */
@media screen and (max-width: 430px){

    /* ====== Product Showcase */
    .pps{
        padding: 0;
        height: 6%;
    }

    .container_pps {
    padding-top: 5px;
    width: 100% ;
    }

    .pps .swiper-wrapper{
        padding: 0;
        height: 100%;
    }
    .pps .swiper-wrapper .swiper-slide {
        height: 272px;
    }

    .product_content .btf_btn {
        display: none;
    }

    .pps .pps_more {
        height: 100%;
    }

    .detail_expand .expand_container {
        margin: 0;
        width: 60%;
        height: 100%;
    }

    .expand_container .pps_text {
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .pps_text h1 {
        font-size: 20px;
    }

    .product_text p {
        font-size: 15px;
    }

    /* ====== aboutus ====== */
    .about_us{
        margin: 0;
        padding: 0;
        height: auto;
    }

    .counting_content{
        padding: 0;
    }
    
    .about_us_content{
        width: 45%;
    }

    .about_us_content .about_us_icon{
        width: 75px;
        height: 75px;
    }

    .data{
        padding-top: 15px;
        align-items: baselin;
    }

    .data .counter{
        padding: 0;
    }

    .data span{
        font-size:  3em;
        font-weight: 500;
    }
    .data sub{
        font-size: 15px;
    }

    .about_us_content p {
        font-size: 18px;
    }

    .sub_title {
        font-size: 1.5em;
        padding: 50px 20px;
    }
}


/* #endregion */
